body
{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    line-height: 1.5em;
    color: rgb(3, 95, 0);
    text-align: justify;
    background-color: -webkit-linear-gradient(-180deg, rgb(201, 241, 109), rgb(138, 213, 97));
    background-color: linear-gradient(-180deg, rgb(201, 241, 109), rgb(138, 213, 97));
    background: url('https://etienneduval.fr/mythesfondateurs/paysan%20chinois.jpg') no-repeat bottom right;
    background-size: cover;
}

a {
    text-decoration: underline;
    color: rgb(31, 204, 216);
}

a:visited {
    color: rgb(139, 39, 0);
}

a:hover {
    color: rgb(19, 226, 53);
}

blockquote {
    width: 45%;
    margin: auto;
}

blockquote {
    font-size: 1.6em;
    background-color: rgb(236, 236, 236);
    border-left: 3px solid rgb(132, 46, 27);
    padding: 30px;
    margin-top: 80px;
    margin-bottom: 80px;
}