body
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    line-height: 1.4em;
    color: rgb(3, 95, 0);
}

a {
    text-decoration: underline;
    color: rgb(31, 204, 216);
}

a:visited {
    color: rgb(139, 39, 0);
}

a:hover {
    color: rgb(19, 226, 53);
}
