body
{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
    line-height: 1.5em;
    color: rgb(3, 80, 0);
    text-align: justify;
    background-color: -webkit-linear-gradient(-180deg, rgb(201, 241, 109), rgb(138, 213, 97));
    background-color: linear-gradient(-180deg, rgb(201, 241, 109), rgb(138, 213, 97));
    background: url('https://etienneduval.fr/mythesfondateurs/paysan%20chinois.jpg') no-repeat bottom right;
    background-size: cover;
}

h1, h2, h4, p {

}

p {
    font-size: 1.1em;
}

a {
    text-decoration: underline;
    color: rgb(31, 204, 216);
}

a:visited {
    color: rgb(139, 39, 0);
}

a:hover {
    color: rgb(19, 226, 53);
}

blockquote {
    width: 50%;
    margin: auto;
    font-size: 1.6em;
    background-color: rgb(236, 236, 236);
    padding: 30px;
    margin-top: 80px;
    margin-bottom: 80px;
    font-style: italic;
}

.villageois {
    border-left: 3px solid rgb(132, 46, 27);
}

.fermier {
    border-left: 2px solid rgb(8, 170, 211);
    font-size: 1.2em;
    background-color: rgb(236, 236, 236);
    padding: 5px;
    font-style: italic;
}

.mal, .bien {
    text-transform: uppercase;
}

.mal {
    color: red;
}

.bien {
    color: limegreen;
}

/*Reprendre : TABLE + IMAGES A INSERER*/
table {
    font-family: 'Times New Roman', Times, serif;
    border-collapse: collapse;
    width: 25%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
}

tr:nth-child(even) {
        background-color: #dddddd;
    }
tr:nth-child(odd) {
        background-color: white;
    }
th {
    background-color: #dddddd;
}
p:nth-child(3) {
    font-weight: bold;
}
/*Images dans liste à refaire!!*/
header ul li:nth-child(1) {
    background-image: url('bien.png');
    background-repeat: no-repeat;
    padding-left: 40px;
    background-size: contain;
}

header ul li:nth-child(2) {
    background-image: url('mal.png');
    background-repeat: no-repeat;
    padding-left: 40px;
    background-size: contain;
}

header ul li:nth-child(3) {
    background-image: url('chat.png');
    background-repeat: no-repeat;
    padding-left: 40px;
    background-size: contain;
}

figure img {
    float: left;
    padding-right: 15px;
}